
@media screen and (min-width: 960px) {
    #nav-bar{
        font-size: 16px;
    }
    .nav-button{
        visibility: hidden;
    }
    .trending-pic{
        height: 450px;
    }
    div.trending-pic img{
        left: -100px;
        transform: scale(1.4);
    }
    div.trending-pic-text{
        height: 450px;
    }
    .recipe{
        top: 600px;
    }
    #ingredients-container{
        font-size: 18px;
    }
    #steps-container{
        font-size: 20px;
    }
}
@media screen and (max-width: 960px) {
    #nav-bar{
        font-size: 14px;
    }
    .nav-button{
        visibility: hidden;
    }
    .trending-pic{
        height: 500px;
    }
    div.trending-pic{
        height: 450px;
    }
    div.trending-pic img{
        left: -100px;
        transform: scale(1.5);
    }
    div.trending-pic-text{
        height: 450px;
    }
    .recipe{
        top: 600px;
    }
    #ingredients-container{
        font-size: 18px;
    }
    #steps-container{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    #nav-bar{
        visibility: hidden;
    }
    .nav-button{
        visibility: visible;
    }
    .trending-pic{
        height: calc(60vh);
    }
    .trend-head-p{
        font-size: 14px;
    }
    div.trending-pic{
        height: 350px;
    }
    div.trending-pic img{
        left: -10%;
        transform: scale(1.2);
    }
    div.trending-pic-text{
        height: 350px;
    }
    .recipe{
        top: 500px;
    }
    #ingredients-container{
        font-size: 16px;
    }
    #steps-container{
        font-size: 18px;
    }
}
@media (hover: hover) {
    .nav-button:hover{
        background-color: #e5e5ea;
    }
}

@font-face {
    font-family: "Orpheus-italic";
    src: url("./fonts/orpheuspro-italic.otf");
}
@font-face {
    font-family: "domaine-text";
    src: url("./fonts/domaine-text.otf");
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background:#F5F5F8;

}
::-webkit-scrollbar-thumb {
    background: gray;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    /* padding-bottom: 20%; */
}
#logo h1{
    font-family:"domaine-text";
    border:0;
    margin-left:20px;
    margin-top: 0;
    width: 35%;
    font-weight: lighter;
    z-index: 100;
    position:sticky;
}
div.mainheader{
    background-color: white;
    height: 110px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    position: sticky;
    top:0;
    z-index: 100;
}

#nav-bar{
    position: absolute;
    font-family: sans-serif;
    width: 40%;
    height:20px;
    margin: auto;
    z-index: 90;
    top:24px;
    left: 77%;  
    transform: translate(-50%, 0);
}
#nav-bar a{
    text-align:center;
    float: left;
    text-decoration: none;
    color: #000000;
    word-spacing: -2px;
    font-weight:lighter;
    width: 25%;
}
#nav-menu{
    display: flex;
    position: absolute;
    top: 13px;
    width: 1px;
    height: 1px;
    right: 0px;
}
#nav-menu input{
    position: relative;
    height: 0;
    width: 0;

}
.nav-button{
    cursor: pointer;
    position: absolute;
    top:0;
    z-index: 4;
    height: 30px;
    width: 30px;
    border-radius: 10%; 
    transition: 600ms; 
    right: 140%;
    margin-right: calc(5vw);
}
#nav-menu input:checked ~ .nav-button{
    background-color: #e5e5ea;
}
.nav-button{
    background-color: #ffffff;
}
#nav-menu input:checked ~ .dropdown-content{
    display: block;
}
#nav-menu input:checked ~ .nav-button .line{
    top: 50%;
}
#nav-menu input:checked ~ #middleline{
    display: block;
}
#nav-menu input:checked ~ #lastline{
    transform: rotate(-45deg);
}
.line{
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 20px;
    border-radius: 4px;
    transition: 0.5s;
    transform: translate(-50%,-50%);
    left: 50%;
}
#firstline{
    top: 30%;
} 
#middleline{
    top: 50%;
}
#lastline{
    top: 70%;
} 
.dropdown-content {
    position:absolute;
    height: 140px;
    width:calc(100vw);
    right: 0;
    top:0px;
    z-index: 3;
    background-color: #ffffff;
    padding-top: 50px;
    bottom: 50px;
    display: none;
}
.dropdown-content a{
    float: none;
    padding-left:7%;
    height: 25%;
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-weight:lighter;
    top: 10px;
    display: block;
}
    
#search-bar{
    width: 90%;
    position: absolute;
    left:5%;
    border-radius: 24px;
    background-color: #F5F5F8;
    border-color: #F5F5F8;
    border-style: none;
    height: 29px;
    font-family:  sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    padding-left:30px ;
    outline: none;
}
#search-icon{
    font-size: 170%;
    position: absolute;
    z-index: 2;
    left:5.2%
}


/* MAIN PICCCCCCCC */
.container{
    /* position: relative; */
    width: calc(100vw);
    height: 1100px;
    /* background-color: saddlebrown; */
}


div.trending-pic{
    width: 60%;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    position: absolute;
    /* height: 450px; */
    left: 2%;
    margin-right: 200px;
    /* border-top-right-radius: 3%; */
    /* border-bottom-right-radius: 3%; */
    border: solid;
    /* border-bottom: solid; */
    /* border-top: solid; */
    border-width: 2px;
    /* border-color: #F5F5F8; */
}

div.trending-pic img{
    height: 100%;
    width: 100%;
    /* left: -100px; */
    position: absolute;
    object-fit: cover;
    /* transform: scale(1.5); */
}
div.trending-pic-text{
    border-bottom-style: groove;
    border-width: 2px;
    width: 30%;
    min-width: 165px;
    margin: 0%;
    padding-bottom: 0%;
    color: rgb(0, 0, 0);
    background-color: #F5F5F8; 
    position: absolute;
    right: 0px;
    margin-right: 2%;
    text-align: start;
    border: #000000 2px solid;
}
div.trending-pic-text ul{
    list-style-type: none;
    padding-inline-start: 10px;
}
li{
    padding-bottom:5px ;
}
#trend-head{
    font-size: 28px;
    padding-left: 5px;
    font-weight: normal;
    padding-right: 5px;
    margin-bottom: 10px;
}
#trend-head {
    color: rgb(0, 0, 0);
    font-size: 24px;
}
.trend-head-tag{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;        
}
.mexican{
    background-color: orange;
}
.italian{
    background-color: green;
}
.japanese{
    background-color: darkred;
}
.desi{
    background-color: rgb(193, 154, 107);
}
.german{
    background-color: red;
}
.trend-head-p{
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.recipe{
    position: absolute ;
    background-color:#e5e5ea;
    padding-bottom: 50px;
    border: 2px black solid;
    border-radius: 10px;
    /* margin: 200px; */
    /* box-shadow: -7px 8px 0px -2px,-7px 8px 0px -2px inset; */
    height: 600px;
    width: 80%;
    left: 10%;
    /* top: 500px; */
    /* top: 500px; */
}
#ingredients{
    position: relative; 
    text-align: center;
    font-weight: 600;
    top: 10px;
}
#ingredients-container{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    /* font-size: 18px; */
    padding-top: 10px;
}
#ingredients-container label{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}
.recipe input{
    position: relative;
    height: 0;
    width: 0;
}
.checkmark{
    cursor: pointer;
    width: 20px;
    height: 20px;
    outline: black 1px solid;
    margin-right: 10px;
    margin-bottom: 10px;
}
.recipe input:checked ~ .checkmark {
    background-color: rgb(0, 0, 0);
}
.recipe input:checked ~ span {
    text-decoration: line-through;
}
.checkbox-list{
    list-style-type: none;    

}
#steps-container{
    height: 200px;
    width: 90%;
    margin-left: 4%;
    /* font-size: 20px; */
    padding-top: 10px;
}
