/* FOR PCCCS */
@media screen and (min-width: 960px) {
    #nav-bar{
        font-size: 16px;
    }
    .nav-button{
        visibility: hidden;
    }
    .trending-pic{
        height: 500px;
    }
    .recipe-head{
        font-size: 24px;
    }
    .recipe-caption{
        font-size: 15px;
    }
    .recipe-head-div:hover > .recipe-head {
        top: 35%;
        padding-left: 0%;
        width: 420px;
        font-size:40px;
    }
    .recipe-head-div:hover > .recipe-caption{
        opacity: 0;
        padding-left: 0%;
        top: 50%;
    }
    .recipe-head-div:hover > .recipe-background{

        width: 420px;
        opacity: 0.8;
    }
    #for-all-recipe-button{
        top: 80%;
    }
}
/* FOR TABLETS */
@media screen and (max-width: 960px) {
    #nav-bar{
        font-size: 14px;
    }
    .nav-button{
        visibility: hidden;
    }
    .trending-pic{
        height: 500px;
    }
    .recipe-head{
        font-size: 24px;
    }
    .recipe-caption{
        font-size: 15px;
    }
    .recipe-head-div:hover > .recipe-head {
        top: 35%;
        padding-left: 0%;
        width: 420px;
        font-size:40px;
    }
    .recipe-head-div:hover > .recipe-caption{
        opacity: 0;
        padding-left: 0%;
        top: 50%;
    }
    .recipe-head-div:hover > .recipe-background{
        width: 420px;
        opacity: 0.8;
    }
    #for-all-recipe-button{
        top: 80%;
    } 
}
/* FOR PHONES */
@media screen and (max-width: 768px) {
    #nav-bar{
        visibility: hidden;
    }
    .nav-button{
        visibility: visible;
    }
    #all-recipes-button svg{
        font-size: 340%;
    }
    .recipe-head{
        font-size: 24px;
    }
    .recipe-caption{
        font-size: 15px;
    }
    .trending-pic{
        height: calc(60vh);
    }
    .trend-head-p{
        font-size: 14px;
    }
    .recipe-head-div:hover > .recipe-head {
        top: 2%;
        padding-left: 5px;
        width: 120px;
        font-size: 24px;
    }
    .recipe-head-div:hover > .recipe-caption{
        opacity: 1;
        padding-left: 20px;
        top: 30%;
    }
    .recipe-head-div:hover > .recipe-background{
        width: 140px;
        opacity: 0.6;
    }
    #for-all-recipe-button{
        top: 76%;
    }
}
@media screen and (max-width: 430px) {
    #nav-bar{
        visibility: hidden;
    }
    .nav-button{
        visibility: visible;
    }
    #all-recipes-button svg{
        font-size: 340%;
    }
    .recipe-head{
        font-size: 24px;
    }
    .recipe-caption{
        font-size: 15px;
    }
    .trending-pic{
        height: calc(60vh);
    }
    .trend-head-p{
        font-size: 13px;
    }
    .recipe-caption{
        font-size: 14px;
    }
    .recipe-head{
        font-size: 20px;
    }
    .recipe-head-div:hover > .recipe-head {
        top: 2%;
        padding-left: 5px;
        width: 120px;
        font-size: 20px;
    }
    .recipe-head-div:hover > .recipe-caption{
        opacity: 1;
        padding-left: 20px;
        top: 30%;
    }
    .recipe-head-div:hover > .recipe-background{
        width: 140px;
        opacity: 0.6;
    }
    #for-all-recipe-button{
        top: 76%;
    }
    li > h2 {
        font-size: 15px !important;
        font-weight: 600 !important;
    }
    #search-result > ul > li > p{
        font-size: 12px !important;
        /* margin-left: 5ox; */
    }
    #search-result > ul > li > .tag{
        transform: scale(0.8) !important;
        margin-left: 0 !important;
        display: none;
    }
}
/* @media screen and (max-width: 370px) {
    #nav-bar{
        visibility: hidden;
    }
    .nav-button{
        visibility: visible;
    }
    #all-recipes-button svg{
        font-size: 300%;
    }
    .trending-pic{
        height: calc(60vh);
    }
    .trend-head-p{
        font-size: 13px;
    }
    .recipe-head{
        font-size: 20px;
    }
    .recipe-caption{
        font-size: 13px;
    }
    .recipe-head-div:hover > .recipe-head {
        top: 2%;
        padding-left: 5px;
        width: 120px;
        font-size: 24px;
    }
    .recipe-head-div:hover > .recipe-caption{
        opacity: 1;
        padding-left: 20px;
        top: 30%;
    }
    .recipe-head-div:hover > .recipe-background{
        width: 140px;
        opacity: 0.6;
    }
    #for-all-recipe-button{
        top: 76%;
    }
} */
@media (hover: hover) {
    .nav-button:hover{
        background-color: #e5e5ea;
    }
}

@font-face {
    font-family: "Orpheus-italic";
    src: url("./fonts/orpheuspro-italic.otf");
}
@font-face {
    font-family: "domaine-text";
    src: url("./fonts/domaine-text.otf");
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background:#F5F5F8;

}
::-webkit-scrollbar-thumb {
    background: gray;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    margin: 0%;
    padding: 0%;
}
#logo{
    display: block;
    text-decoration: none;
    color: #000000;
    position:sticky;
    width: 180px;
    z-index: 1000;
}
#logo h1{
    font-family:"domaine-text";
    border:0;
    margin-left:20px;
    margin-top: 0;
    font-weight: lighter;
    width: 160px;
}
div.mainheader{
    background-color: white;
    height: 110px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    position: sticky;
    top:0;
    z-index: 100;
}

#nav-bar{
    position: absolute;
    font-family: sans-serif;
    width: 40%;
    height:20px;
    margin: auto;
    z-index: 90;
    top:24px;
    left: 77%;  
    transform: translate(-50%, 0);
}
#nav-bar a{
    text-align:center;
    float: left;
    text-decoration: none;
    color: #000000;
    word-spacing: -2px;
    font-weight:lighter;
    width: 25%;
}
#nav-menu{
    display: flex;
    position: absolute;
    top: 13px;
    width: 1px;
    height: 1px;
    right: 0px;
}
#nav-menu input{
    position: relative;
    height: 0;
    width: 0;

}
.nav-button{
    cursor: pointer;
    position: absolute;
    top:0;
    z-index: 4;
    height: 30px;
    width: 30px;
    border-radius: 10%; 
    transition-property:height;
    transition-duration: 600ms; 
    right: 140%;
    margin-right: calc(5vw);
}

#nav-menu input:checked ~ .nav-button{
    background-color: #e5e5ea;
}
.nav-button{
    background-color: #ffffff;
}
#nav-menu input:checked ~ .dropdown-content{
    display: block;
}
#nav-menu input:checked ~ .nav-button .line{
    top: 50%;
}
#nav-menu input:checked ~ #middleline{
    display: block;
}
#nav-menu input:checked ~ #lastline{
    transform: rotate(-45deg);
}
.line{
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 20px;
    border-radius: 4px;
    transition: 0.5s;
    transform: translate(-50%,-50%);
    left: 50%;
}
#firstline{
    top: 30%;
} 
#middleline{
    top: 50%;
}
#lastline{
    top: 70%;
} 
.dropdown-content {
    position:absolute;
    height: 140px;
    width:calc(100vw);
    right: 0;
    top:0px;
    z-index: 3;
    background-color: #ffffff;
    padding-top: 50px;
    bottom: 50px;
    display: none;
}
.dropdown-content a{
    float: none;
    padding-left:7%;
    height: 25%;
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-weight:lighter;
    top: 10px;
    display: block;
}
#search-bar-and-icon{
    position: absolute;
    width: 90%;
    height: 100px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
#search-bar{
    width: 100%;
    position: relative;
    border-radius: 24px;
    background-color: #F5F5F8;
    border-color: #F5F5F8;
    border-style: none;
    height: 29px;
    font-family:  sans-serif;
    font-weight: 400;
    /* text-transform: uppercase; */
    font-size: 12px;
    padding-left:40px ;
    /* left:50%;
    transform: translateX(-50%); */
    outline: none;
}
#search-icon{
    font-size: 170%;
    position: absolute;
    z-index: 2;
    top: 2px;
    left:10px;
}
#search-result{
    width: 90%;
    position: absolute;
    left:5%;
    /* border-radius: 24px; */
    outline: none;
    /* width: 98%; */
    height: fit-content;
    background-color: white;
    background-color: #F5F5F8;
    top: 110px;
    /* display: none; */
    cursor: pointer;
}
#search-result ul{
    
    text-decoration: none;
    font-size: 22px;
    list-style: none;
    margin: 0;
    padding: 0%;
}
#search-result ul > li{
    padding: 0;
    color: black;
    /* outline:black solid 2px; */
    margin: 0;
    height: 110px;
    overflow: hidden;
    display: flex;
    display: none;
    /* flex-direction: row; */
}

li > div {
    overflow: hidden;
    /* outline: white solid 3px; */
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    outline: black solid 2px;
    /* border-radius: 10%; */
    /* scroll-behavior: ; */
}
li > h2 {
    margin-left: 20px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: domaine-text;
    /* font-family: sans-serif; */
    font-weight: 100;
}
#search-result > ul > li > p{
    font-size: 14px;
    position: absolute;
    left: 132px;
    margin-right: 10px;
    /* top: 50px; */
    transform: translateY(25px);
}
li > div > img{
    position: relative;
    float: left;
    height: 80px;
    width: 100px;
    transform: scale(1.3);
    /* left: -20px; */
    /* border-radius: 10%; */
}
li > hr{
    /* width: 80%; */
    left: 50%;
    transform: translate(-50%,9000%);
    /* bottom: 0; */
    /* top: 85px; */
    position: absolute;
    background-color: gray;
    height: 1px;
}
#search-result > ul > li > .tag{
    /* left: 240px; */
    transform: translateY(5px);
    right: auto;
    position: relative;
}

#trending-now{
    position: relative; 
    text-align: center;
    font-weight: 100;
    height: 30px;  
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ffffff;
}
div.trending-pic{
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    position: relative;
}
.trending-pic-link{
    height: 92%;
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 10;
}
div.trending-pic img{
    height: 80%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scale(1.3);
}
div.trending-pic-text{
    border-bottom-style: groove;
    border-width: 2px;
    height: 60%;
    width: 30%;
    max-width: 280px;
    min-width: 165px;
    margin: 0%;
    padding-bottom: 0%;
    color: rgb(0, 0, 0);
    background-color: #F5F5F8; 
    position: absolute;
    bottom: 10px;
    left: 2%;
    text-align: start;
    box-shadow: -7px 8px 0px -2px;
}
div.trending-pic-text ul{
    list-style-type: none;
    padding-inline-start: 10px;
}
li{
    padding-bottom:5px ;
}
#trend-head{
    font-size: 28px;
    padding-left: 5px;
    font-weight: normal;
    padding-right: 5px;
    margin-bottom: 10px;
}
#trend-head a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
}
.trend-head-tag{
    color: rgb(255, 255, 255);
    background-color: green;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;        
}
.trend-head-p{
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#recipe-head{
    font-family: "domaine-text";
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
    position: relative;
    margin-bottom: 40px;

}
#all-recipes-button{
    position: absolute;
    cursor: pointer;
    background-color: white ;
    top: 60%;
    border-style: none ;
    -ms-transform: translateY(-60%);
    transform: translateY(-50%);
    color: #000000;
    :hover{
        background-color:#e5e5ea;
        border-radius:10%; 
        transition: 600ms;
    }
}
#for-all-recipe-button{
    position: relative;
} 
#pic-container{
    display:flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 30px;
}
.recipe-head-div{
    display:flex;
    height: 200px;
    width: 420px;
    position: relative;
    background-color: #F5F5F8;
}
.recipe-head-head{
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
}
.recipe-background{
    width: 140px;
    height: 100%;
    background-color: #000000;
    z-index: 2;
    opacity: 0.6;
    transition: width 0.5s;
    box-shadow: -7px 8px 0px -2px black;
}
.recipe-head{
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition:  0.5s;
    padding-left: 5px;
    top: 2%;
    width: 120px;
    z-index: 3;
    text-align: center;
}
.tag{
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;   
    height: fit-content;
    right: 0;
}
.mexican{
    background-color: orange;
}
.italian{
    background-color: green;
}
.japanese{
    background-color: darkred;
}
.desi{
    background-color: #5C4033;
}
.german{
    background-color: red;
}
.recipe-caption{
    position: absolute;
    color: rgb(255, 255, 255);
    transition:  0.5s;
    text-align: center;
    padding-left: 20px;
    top: 30%;
    width: 110px;
    z-index: 3;
    text-align: left;
}


.recipe-img{
    position: absolute;
    z-index: 1;

} 

img{
    display: block;
    height: 200px;
    width: 420px;

}
svg {
    border-style: none;
    font-size: 250%;
}
br{
    display: block;
    content: "";
    margin-top:4px;
}
hr{
    width: 90%;
    border-width: 0px;
    background-color: black;
    height:2px;
}
footer{
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    font-weight: 700;
    color: rgb(80, 76, 76);
}

